:root {
    --dark-purple: #242038;
    --purple: #725AC1;
    --lavendar: #8D86C9;
    --lavendar-gray: #CACACE;
    --linen: #F7ECE1;
}

@font-face {
    font-family: 'dejaVu';
    src: url('../fonts/DejaVuSans.ttf');
    font-style: normal;
    font-weight: 100;
}

body {
    font-family: dejaVu, sans-serif, Helvetica;
    font-size: 1rem;
    background: var(--lavendar-gray);
}

header {
    background: var(--purple);
    border-bottom: var(--dark-purple);
    border-bottom-width: 12px;
}



