:root {
    --dark-purple: #242038;
    --purple: #725AC1;
    --lavendar: #8D86C9;
    --lavendar-gray: #CACACE;
    --linen: #F7ECE1;
}

@font-face {
    font-family: 'dejaVu';
    src: url('../../fonts/DejaVuSans.ttf');
    font-style: normal;
    font-weight: 100;
}

body {
    font-family: dejaVu, sans-serif, Helvetica;
    font-size: 1rem;
    background: var(--lavendar-gray);
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--linen);
}

header {
    background: var(--purple);
    height: 170px;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.logo-link h1 {
    font-size: 50px;
}

.logo-link img {
    height: 130px;
    padding: 20px;
}

.header-images {
    float: right;
}

.header-images img {
    height: 70px;
    padding: 7px;
}

.logo-link ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-links {
    text-decoration: none;
    padding: 15px;
    color: var(--linen);
    font-size: 35px;
}

.header-underline {
    height: 15px;
    background-color: var(--dark-purple);
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.offer .content {
    width: 700px;
    background-color: var(--purple);
    border: var(--dark-purple);
    border-style: solid;
    border-width: 10px;
    align-items: center;
}

.offer h2 {
    font-size: 30px;
    margin-top: -7px;
    padding: 15px;
    display: block;
    background-color: var(--dark-purple);
    justify-content: center;
}

.offer .content .wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.offer .content .wrap .data .price-button {
    display: flex;
    flex-direction: row;
}

.offer .content .wrap .data .description,
.offer .content .wrap .data .price-button .price {
    margin: 20px;
    padding: 15px 0;
}

.offer .content .wrap .data .price-button .button {
    height: 40px;
    padding: 0 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: var(--dark-purple);
    color: var(--linen);
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    transition: background-color .2s ease, color .2s ease;
}

.offer .content .wrap .data .price-button .button:hover {
    background-color: var(--linen);
    color: var(--dark-purple);
}

.article-wrap {
    display: flex;
    padding: 100px;
}

.article-wrap article {
    width: 800px;
    padding: 30px;
}

.article-wrap article {
    background: var(--lavendar);
}

.cropped-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dice-img img {
    width: 400px;
    margin-left: -100px;
    margin-top: -20px;
}

#woman-img img {
    width: 350px;
    margin-top: -10px;
}

#christmas-img img {
    width: 350px;
    margin-left: -20px;
}

#leaf-img img {
    width: 200px;
}