:root {
    --dark-purple: #242038;
    --purple: #725AC1;
    --lavendar: #8D86C9;
    --lavendar-gray: #CACACE;
    --linen: #F7ECE1;
}

@font-face {
    font-family: 'dejaVu';
    src: url('../fonts/DejaVuSans.ttf');
    font-style: normal;
    font-weight: 100;
}

body {
    font-family: dejaVu, sans-serif, Helvetica;
    font-size: 1rem;
    background: var(--lavendar-gray);
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--linen);
}

header {
    background: var(--purple);
    height: 170px;
}

.header-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.logo-link h1 {
    font-size: 50px;
}

.logo-link img {
    height: 130px;
    padding: 20px;
}

.header-images {
    float: right;
}

.header-images img {
    height: 70px;
    padding: 7px;
}

.logo-link ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-links {
    text-decoration: none;
    padding: 15px;
    color: var(--linen);
    font-size: 35px;
}

.header-underline {
    height: 15px;
    background-color: var(--dark-purple);
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer .content {
    width: 700px;
    background-color: var(--purple);
    border: var(--dark-purple);
    border-style: solid;
    border-width: 10px;
}

.offer h2 {
    font-size: 30px;
    color: inherit;
}

.offer .wrap {
    display: flex;
    flex-direction: row;
}

.offer .offer-img img {
    height: 300px;
}


.offer .wrap .data .description,
.offer .wrap .data .price {
    margin: 20px;
}

.offer .wrap .data button {
    height: 40px;
    padding: 0 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: var(--dark-purple);
    color: var(--linen);
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    transition: background-color .2s ease, color .2s ease;
}

.offer .wrap .data button:hover {
    background-color: var(--linen);
    color: var(--dark-purple);
}


.article-wrap{
    display: flex;
}
.article-wrap article{
    background: var(--lavendar);
}

.cropped-img{
    border: 5px solid black;
    width: 200px;
    height: 200px;
}

.article-wrap img {
    scale: 0.25;
    margin-left: -430%;
    margin-top: -220%;
}



